<html lang="en">
  <body>
    <div>
      <% if (errorMessage) { %> <%= errorMessage %> <% } %>
      <form action="/register" method="POST">
        <label for="username">Username : </label>
        <input
          type="text"
          name="username"
          value="<%= data.username %>"
          required
        />
        <label for="Name">Name : </label>
        <input type="text" name="name" value="<%= data.name %>" required />
        <label for="email">Email : </label>
        <input type="email" name="email" value="<%= data.email %>" required />
        <label for="password">Password : </label>
        <input
          type="password"
          name="password"
          value="<%= data.password %>"
          required
        />
        <label for="confirmPassword">Confirm Password : </label>
        <input
          type="password"
          name="confirmPassword"
          value="<%= data.confirmPassword %>"
          required
        />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
